<div class="main">

  <div class="row">
    <div class="col-12">
      <app-general-header-component text={{title}}>
      </app-general-header-component>
    </div>
  </div>

  <div class="row">
    <div class="col-3 body-height">
      <app-left-menu-component>
      </app-left-menu-component>
    </div>
    <div class="col-9 body-height">
      <app-map-component>
      </app-map-component>
    </div>
  </div>

</div>