@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
    /*Nunito as default font*/
    font-family: 'Nunito', sans-serif !important;
}

body{
    /*No default margin or paddidng*/
    margin: 0;
    padding: 0;

    /*Take all the browser space*/
    width: 100%;
    height: 100%;

    /*There was a ~10px horizontal overflow; this hides that unnecessary blank space*/
    overflow-x: hidden;

    background-color: #EEEEEE;
}

.row{
    /*No default padding or maring on Bootstrap's rows*/
    padding: 0;
    margin: 0;
}

/*Removing Bootstrap's cols padding & margin*/
.col-1{
    padding: 0;
    margin: 0;
}
.col-2{
    padding: 0;
    margin: 0;
}
.col-3{
    padding: 0;
    margin: 0;
}
.col-4{
    padding: 0;
    margin: 0;
}
.col-5{
    padding: 0;
    margin: 0;
}
.col-6{
    padding: 0;
    margin: 0;
}
.col-7{
    padding: 0;
    margin: 0;
}
.col-8{
    padding: 0;
    margin: 0;
}
.col-9{
    padding: 0;
    margin: 0;
}
.col-10{
    padding: 0;
    margin: 0;
}
.col-11{
    padding: 0;
    margin: 0;
}
.col-12{
    padding: 0;
    margin: 0;
}

.card-dark{
    color: #FFFFFF;
    background-color: #212121;
}