<div class="bottom-left-component">

  <mat-card class="menu-header card-dark">
    {{_menuTitle}}
  </mat-card>

  <mat-card class="menu-body">
    <div style="margin-bottom: 0.5em;" *ngFor="let route of _routes; let i=index;">
      <mat-card [ngClass]="{'selected':_isSelected[i], 'unselected':!_isSelected[i]}" (click)="handleRouteClick(i)"> 
        Saved route #{{i+1}}
      </mat-card>
    </div>
  </mat-card>

  <div class="buttons">
    <button class="save-button" mat-raised-button (click)="handleSaveClick($event)">
        {{_saveRouteButtonText}}
    </button>
    <button class="load-button" mat-raised-button (click)="handleLoadClick($event)">
        {{_loadRouteButtonText}}
    </button>
    <button class="new-button" mat-raised-button (click)="handleLNewClick($event)">
      {{_newRouteButtonText}}
    </button>

  </div> 

</div>