.bottom-left-component{
    margin: 1em;
    margin-top: 0;

    height: calc(100% - 1em);
}

.menu-header{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.menu-body{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 1em;

    background-color: #F5F5F5;

    height: calc(100% - 1em - 6em);

    overflow-y: scroll;
}

.buttons{
    width: 100%;

}
.save-button{
    background-color: #ffffff;
}
.new-button{
    background-color: #ffffff;
    position: absolute;
    right: 1em;
}
.load-button{
    margin-left: 1em;
}

.unselected{
    background-color: #ffffff;
    color: #000000;
    transition: 200ms;
}
.selected{
    background-color: #424242;
    color: #ffffff;
    transition: 200ms;
}